.container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  color: #818181;
}
.label__text {
  margin-bottom: 5px;
}

.input {
  width: 150px;
  margin-bottom: 20px;
}

.button {
  max-width: 100px;
  padding: 5px;
  font-weight: bold;
  color: #6c6767;
  background-color: rgb(225, 183, 183);
  border: 1px solid rgb(225, 183, 183);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: beige;
  background-color: rgb(218, 146, 146);
  border: 1px solid rgb(225, 183, 183);
}
